@tailwind base;
@tailwind components;
@tailwind utilities;

.header{

  background: rgb(131,211,203);
  text-shadow: 1px 1px 3px rgba(0,0,0,.5);
}

.foto-perfil{

  width: 100px;
}

.logo-mini img{

  padding:10px
}

.logo-lg img{

  padding:10px 0 ;
}

.wrapper{

  height: 100vh!important;
  min-height: 100%!important;
}

.content-wrapper{

  min-height: 100vh!important;
}

.logo-formulario{

	padding:30px 50px 0px 50px;

}

.activo{

	background: rgb(2,132,199);

}

.contenedor{

	width: 90%;
	max-width:1250px;
	margin: auto;
}

@media(max-width:768px){

	.logo-lg img{

		width: 280px;
		
		height: 70px;
		margin: auto;

	}

}